DB_HOST = localhost
DB_USER = user
DB_PASSWORD = P@ssw0rd
DB_SCHEMA = database_name

#mysql -uroot -pP@ssw0rd  -hlocalhost database_name   - to login to database

#API key needed for POST, PUT, PATCH, DELETE
API_KEY = very-secret-key